@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 18, 18, 18;
  --background-start-rgb: 251, 251, 250;
  --background-end-rgb: 251, 251, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}